{% extends "layout.html" %}

{% block content %}
<h2>Elokuvat</h2>
{# Tähän tulee taulukko elokuvista #}
<table id="elokuvataulukko">
	<tr class="headerrow">
		<td><a href="{{ url_for('elokuvat') }}?nimi">Elokuvan nimi</a></td>
		<td><a href="{{ url_for('elokuvat') }}?vuosi">Julkaisuvuosi</a></td>
		<td><a href="{{ url_for('elokuvat') }}?hinta">Vuokrahinta</a></td>
		<td><a href="{{ url_for('elokuvat') }}?arvio">Arvio</a></td>
		<td><a href="{{ url_for('elokuvat') }}?genre">Lajityyppi</a></td>
	</tr>
{% for e in elokuvat %}
	<tr class="bodyrow">
		<td>{{ e['nimi'] }}</td>
		<td class="right">{{ e['vuosi'] }}</td>
		<td class="right">{{ e['hinta'] }}</td>
		<td class="right">{{ e['arvio'] }}</td>
		<td>{{ e['genre'] }}</td>
	</tr> 
{% endfor %}
</table>
{% endblock %}