{% extends "layout.html" %}

{% block content %}
<h2>Vuokraukset</h2>
<!-- Tähän tulee listaus vuokrauksista -->
<ul>
	{% for p in vuokraukset %}
        <li><a href="{{ url_for('muokkaa') }}?jasenID={{ p['jasenID'] }}&elokuvaID={{ p['elokuvaID'] }}&vuokrausPVM={{ p['vuokrausPVM'] }}&palautusPVM={{ p['palautusPVM'] }}&maksettu={{ p['maksettu'] }}">Elokuva: {{ p['eNimi'] }} / Asiakas: {{ p['jNimi'] }} / Vuokrattu: {{ p['vuokrausPVM'] }} / Palautus: {{ p['palautusPVM'] }} / Maksettu: {{ p['maksettu'] }} €</a></li>
	{% endfor %}
</ul>

<p><a href="{{ url_for('vuokraus') }}" class="button">Syötä uusi vuokraus</a></p>

{% endblock %}