{% extends "layout.html" %}

{% block content %}
<h2>Vuokraukset</h2>
{# Tähän tulee listaus vuokrauksista #}
<ul class="paataso">
	{% for p in vuokraukset %}
		{% if p['jNimi'] %}
				<li>{{ p['jNimi'] }}
					<ul class="alataso">
						<li><a href="{{ url_for('muokkaa') }}?jasenID={{ p['jasenID'] }}&elokuvaID={{ p['elokuvaID'] }}&vuokrausPVM={{ p['vuokrausPVM'] }}&palautusPVM={{ p['palautusPVM'] }}&maksettu={{ p['maksettu'] }}">Elokuva: {{ p['eNimi'] }} / Vuokrattu: {{ p['vuokrausPVM'] }} / Palautus: {{ p['palautusPVM'] }} / Maksettu: {{ p['maksettu'] }} €</a></li>
		{% elif p['loppu'] %}
					</ul>
				</li>
		{% else %}
						<li><a href="{{ url_for('muokkaa') }}?jasenID={{ p['jasenID'] }}&elokuvaID={{ p['elokuvaID'] }}&vuokrausPVM={{ p['vuokrausPVM'] }}&palautusPVM={{ p['palautusPVM'] }}&maksettu={{ p['maksettu'] }}">Elokuva: {{ p['eNimi'] }} / Vuokrattu: {{ p['vuokrausPVM'] }} / Palautus: {{ p['palautusPVM'] }} / Maksettu: {{ p['maksettu'] }} €</a></li>
		{% endif %}
	{% endfor %}
</ul>

<p><a href="{{ url_for('vuokraus') }}" class="button">Syötä uusi vuokraus</a></p>

{% endblock %}


