<!DOCTYPE html>
<html>
<head>
<link href="{{ url_for('static', filename='css/main.css') }}" rel="StyleSheet" />
<meta charset="utf-8"/>
	<title>Elokuvavuokraamo-sovellus, VKO 4</title>
</head>
<body>
<header>
</header>
<div id="container">
<h1>Elokuvavuokraamo</h1>
<h2>Kirjaudu sisään</h2>
<form action="" method="post">
<p>
<label>Käyttäjätunnus <input type="text" name="username"></label>
</p>
<p>
<label>Salasana <input type="password" name="password"></label>
</p>
<p>
<input type="submit" name="kirjaudu" value="Kirjaudu sisään" />
</p>
</div>
<footer>
</footer>
</body>
</html>